// Override default variables before the import
body {
  background-color: #282c34;
  color: #ddd;
  font-size: 1.5rem;
} ;


.connect-label {
  margin-bottom: 1rem;
}
.connect-buttons {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
}
.connect-buttons button {
  width: 100%;
  height: 4rem;
}
