// Override default variables before the import
$body-bg: #282c34;;
$body-color: #ddd;
$font-size-base: 1.5rem;


// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';
